@import 'vars';
@import 'animations';

html {
  overscroll-behavior-y: none;
}

//noinspection CssInvalidPropertyValue,CssOverwrittenProperties
body {
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  margin: 0;
  font-family: 'Inter', sans-serif;
  overscroll-behavior-y: none;
  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;
  margin: 0;
}

img {
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $color-primary;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

svg {
  display: block;
  fill: currentColor;
}

.layout {
  min-width: 320px;
  max-width: 512px;
  margin: 0 auto;
  height: calc(var(--vh, 1vh) * 100);;
}

h1 {
  color: $color-black;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.divider {
  width: 100%;
  height: 1px;
  background: $color-sky-dark;
}
