$color-black: #202325;
$color-gray-darker: #6C7072;
$color-gray-dark: #979C9E;
$color-gray: #AFBCCB;
$color-gray-light: #E3E5E5;
$color-light-blue: #ebf5ff;
$color-sky-dark: #979C9E;
$color-sky-lighter: #F2F4F5;
$color-dark-blue: #001431;
$color-pink: #EF5D88;
$color-green: #a0ff6d;
$color-blue: #4e9bff;
$color-red: #ef101a;
$color-orange: #c75206;
$color-primary: #6B4EFF;
$color-primary-dark: #5538EE;
$color-primary-darker: #4628e7;
$color-primary-lightest: #E7E7FF;
